Service References/DataServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AShEventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IAShEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAShEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAShEventService_RegisterForUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForUpdates" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_UpdateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperty" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_SubscribeValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeValues" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_SendCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_PropertyUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PropertyUpdated" />
  </wsdl:message>
  <wsdl:message name="IAShEventService_FileBlockReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FileBlockReceived" />
  </wsdl:message>
  <wsdl:portType name="IAShEventService">
    <wsdl:operation name="RegisterForUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/RegisterForUpdates" message="tns:IAShEventService_RegisterForUpdates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/UpdateProperty" message="tns:IAShEventService_UpdateProperty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/Disconnect" message="tns:IAShEventService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/SubscribeValues" message="tns:IAShEventService_SubscribeValues_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/GetFile" message="tns:IAShEventService_GetFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IAShEventService/SendCommand" message="tns:IAShEventService_SendCommand_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PropertyUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IAShEventService/PropertyUpdated" message="tns:IAShEventService_PropertyUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileBlockReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IAShEventService/FileBlockReceived" message="tns:IAShEventService_FileBlockReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IAShEventService" type="tns:IAShEventService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IAShEventService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="RegisterForUpdates">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/RegisterForUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/UpdateProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SubscribeValues">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/SubscribeValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/SendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PropertyUpdated">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/PropertyUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileBlockReceived">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/FileBlockReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAShEventService" type="tns:IAShEventService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAShEventService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterForUpdates">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/RegisterForUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/UpdateProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SubscribeValues">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/SubscribeValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/SendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PropertyUpdated">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/PropertyUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileBlockReceived">
      <soap12:operation soapAction="http://tempuri.org/IAShEventService/FileBlockReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AShEventService">
    <wsdl:port name="NetNamedPipeBinding_IAShEventService" binding="tns:NetNamedPipeBinding_IAShEventService">
      <soap12:address location="net.pipe://localhost/FillingEventServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/FillingEventServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ASH-PC\ASH</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAShEventService" binding="tns:NetTcpBinding_IAShEventService">
      <soap12:address location="net.tcp://localhost:9901/FillingEventServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9901/FillingEventServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>